USE [master]
GO
/****** Object:  Database [Practice]    Script Date: 2024/4/18 下午 09:48:39 ******/
CREATE DATABASE [Practice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practice]
GO
/****** Object:  User [money]    Script Date: 2024/4/18 下午 09:48:39 ******/
CREATE USER [money] FOR LOGIN [money] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TB_Currency]    Script Date: 2024/4/18 下午 09:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Currency](
	[Currency] [nchar](10) NOT NULL,
	[CurrencyName] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[Currency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_Currency] ([Currency], [CurrencyName]) VALUES (N'EUR       ', N'歐元             ')
INSERT [dbo].[TB_Currency] ([Currency], [CurrencyName]) VALUES (N'GBP       ', N'英鎊             ')
INSERT [dbo].[TB_Currency] ([Currency], [CurrencyName]) VALUES (N'USD       ', N'美元             ')
USE [master]
GO
